
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

html {
	font: 16px 'Press Start 2P', Consolas;
	color: white;
}

div {
	position: fixed;
	display: block;
}

#stats div {
	position: static;
}

canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

.logbox {
	bottom: 10px;
	left: 10px;
}

.hudbox {
	text-shadow: 0 0 2px white;
}

.hudbox:empty {
	display: none;
	padding: 4px 8px 2px 8px;
}

.red {
	background: #ff6544;
}

.altitude {
	top: 45%;
	right: 17%;
}

.burner {
	bottom: 45%;
	right: 85%;
}

.engine {
	bottom: 45%;
	left: 17%;
}

.groundspeed {
	top: 45%;
	left: 17%;
}

.reticle {

	left: 50%;
	top: 50%;
}

.reticle:after {
	display: block;
	position: absolute;
	content: '';

	left: -25px;
	top: -25px;
	width: 50px;
	height: 50px;

	border: 2px solid white;
	border-radius: 50px;

	box-shadow: 0px 0px 2px white;
}



.tracker {
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	margin: -7px;
	box-shadow: 0px 0px 1px #ff6544;
	border: 2px solid #ff6544;
}

.tracker.onscreen {
	width: 40px;
	height: 40px;
	margin: -22px;
	box-shadow: 0px 0px 2px #ff6544, inset 0px 0px 1px #ff6544;
}

.tracker.target {
	width: 12px;
	height: 12px;
	margin: 8px;
}

.tracker.target.onscreen {
	width: 80px;
	height: 80px;
	margin: -42px;
}

.target.target:after {
	display: block;
	position: absolute;
	content: '';
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;

	border: 2px solid white;
}

.target.target.onscreen:after {
	top: 16px;
	left: 16px;
	right: 16px;
	bottom: 16px;

	border-width: 4px;

	box-shadow: 0px 0px 2px white, inset 0px 0px 1px white;
}


