
html {
	font: 18px Consolas;
	font-weight: bold;
	color: white;
}

canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

.logbox {
	display: block;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.hudbox {
	display: block;
	position: fixed;

	padding: 5px 10px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px white;
	background: white;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.red {
	background: #ff6544;
	box-shadow: 0px 0px 1px #ff6544;
}

.altitude {
	top: 45%;
	right: 22%;
}

.burner {
	bottom: 45%;
	right: 80%;
}

.engine {
	bottom: 45%;
	left: 22%;
}

.airspeed {
	top: 45%;
	left: 22%;
}

.reticle {
	display: block;
	position: fixed;

	left: 50%;
	top: 50%;
}

.reticle:after {
	display: block;
	position: absolute;
	content: '';

	left: -25px;
	top: -25px;
	width: 50px;
	height: 50px;

	border: 2px solid white;
	border-radius: 50px;

	box-shadow: 0px 0px 2px white;
}

.target {
	position: fixed;
	width: 80px;
	height: 80px;
	border: 4px solid #ff6544;
	border-radius: 4px;
	box-shadow: 0px 0px 2px #ff6544, inset 0px 0px 2px #ff6544;
	top: 0px;
	left: 0px;

	margin: -42px 0px 0px -42px;
	-webkit-transform: rotateZ(45deg);
}
