
html {
	font: 18px Consolas;
	font-weight: bold;
	color: white;
}

canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
}

.logbox {
	display: block;
	position: fixed;
	bottom: 10px;
	left: 10px;
}

.altitude {
	top: 50%;
	right: 30%;
}

.airspeed {
	top: 50%;
	left: 30%;
}

.hudbox {
	display: block;
	position: fixed;

	padding: 5px 10px;
	border-radius: 3px;
	box-shadow: 0px 0px 1px white;
	background: white;
	color: #444;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}
